bult-assistant.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": " ",
          "mode": "list",
          "cachedResultName": " "
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "=items(summary, start(dateTime))"
        }
      },
      "id": "f180c1e9-9ce8-4d3c-9734-16582c433f62",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2464,
        160
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "b9519bf5-0694-425c-a8db-1909203a39e0",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2224,
        160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "734f6ffc-d5a8-4dfa-b395-abc2fcc70564",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2336,
        160
      ],
      "webhookId": "YOUR_WEBHOOK_ID_1",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2bd1e24d-cf61-4a40-be59-cdd22b88cbd7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1984,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nencvmUPFirthlJi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1f545541-e3e3-424b-98f4-c63dbddbf6e9",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1296,
        -160
      ],
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "8b433a4d-5886-475e-917c-433e93c7c6fa",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2736,
        -160
      ],
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ab3254e3-dcf6-4f57-9c08-acd43e58ebfe",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1664,
        -160
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "dacfd6cc-8d61-48f0-883d-5f138775f890",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2080,
        -160
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d9a315a-c3b2-4fc2-9700-2c8df2e3fa2a",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        -160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "e2e2d4b4-ab6c-4e84-8d3c-3caf61203554",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1840,
        -160
      ],
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        2720,
        160
      ],
      "id": "359e39ca-0fdf-422e-9a32-776ce23669fc",
      "name": "Create a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "YOUR_GOOGLE_CONTACTS_CREDENTIAL_ID",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "YOUR_TASK_LIST_ID",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        2608,
        176
      ],
      "id": "554c34c3-c98a-4944-83ac-bf4b5c622025",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YOUR_GOOGLE_TASKS_CREDENTIAL_ID",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- Use Google Tasks tool for tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"
        }
      },
      "id": "4d3d2f63-c8be-4fc3-b4b4-77e778bacc96",
      "name": "Bult.ai Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2240,
        -160
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bult.ai Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "Bult.ai Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bult.ai Assistant": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}